.card-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 15px;

    @media screen and (min-width: 1024px) {
        justify-content: space-between;
    }
}

.card-wrapper {
    flex-basis: 100%;
    max-width: 400px;
    width: 100%;
    perspective:1000px;

    @media screen and (min-width: 1024px) {
        flex-basis: 30%;
    }
}

.card {
    transform-style: preserve-3d;
    height: 450px;
    margin: 0 auto;
    position: relative;
    width: 300px;

    .back, .front {
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .front {
        transform: rotateY(-180deg);
    }
}

.reset-button {
    display: block;
    margin: 0 auto 50px;
}

.read-more-wrapper {
    text-align: center;
}

.read-more-trigger {
    margin-top: 15px;
}

.card-description {
    overflow: hidden;
    text-align: left;

    p {
        margin: 0;
        padding: 0 5px;
    }
}